.idea
kotlinc
token

# Input
Ogre Battle
Ogre Battle 64
Racing Gears Advance
SoM
Tactics Ogre (GBA)
Tactics Ogre (SNES)
Tetrisphere
The New Tetris
ToM

# Output
Don't Stop Me Now
Secret of Zebes
Trials and Secrets
Trials of Hyrule
Voss Gears and New Tetris Spheres